@{
    var title = "Головна";
    if (ViewBag.Lang == "eng")
        title = "Main";
    else if (ViewBag.Lang == "ru")
        title = "Главная";
    ViewData["Title"] = title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/mainstyle.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.Lang</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="~/css/mainstyle.css">
}